<div class="box">
  <div class="row" *ngIf="!loading">
    <div class="col-md-5 col-sm-12">
      <img src="{{ idData.image }}" alt="sas" />
    </div>
    <div class="col-md-7 col-sm-12">
      <div class="info">
        <ul class="list-unstyled">
          <li><strong>Title : </strong>{{ idData.title }}</li>
          <li><strong>Category : </strong>{{ idData.description }}</li>
          <li><strong>Description : </strong>{{ idData.title }}</li>
          <li><strong>Rate : </strong>{{ idData.rating.rate }}</li>
          <li><strong>Count : </strong>{{ idData.rating.count }}</li>
          <li><strong>Price : </strong>{{ idData.price }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center">
    <app-spinner *ngIf="loading"></app-spinner>
  </div>
</div>
